@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&family=Josefin+Sans:wght@400;700&family=League+Spartan:wght@500;700&family=Montserrat:ital,wght@0,400;0,500;0,700;1,600&family=Nunito+Sans:wght@300;600;800&family=Nunito:wght@200;300;400;600;700&family=Open+Sans:wght@400;500;600;800&family=Poppins:wght@500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background: var(--Very-Dark-Bl);
  color: var(--Very-Light-Gray);
}

:root {
  /* VARIABLES */
  --Dark-Blue: hsl(209, 23%, 22%);
  --Very-Dark-Blue: hsl(207, 26%, 17%);
  --Very-Dark-Bl: hsl(200, 15%, 8%);
  --Dark-Gra: hsl(0, 0%, 52%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White-: hsl(0, 0%, 100%);
}

.container {
  padding: 1rem;
  width: 85%;
  margin: auto;
}

/* ========MEDIA QUERY(TABLET)========= */

@media (max-width: 1200px) {
  .container {
    width: 90%;
  }
}

/* ========MEDIA QUERY(MOBILE)========= */
@media (max-width: 600px) {
  .container {
    width: 95%;
  }
}
